.App {
  text-align: center;
  background: radial-gradient(at 50% 40%, rgb(255, 255, 255), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 50% -47%, rgb(172, 224, 249), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 0% 0%, rgb(232, 225, 255) 0px, transparent 32%) 0% 0% repeat scroll, radial-gradient(at 100% 98%, rgb(255, 241, 235), transparent) 0% 0% repeat scroll, radial-gradient(at 0px 97%, rgb(227, 235, 255), white) 0% 0% repeat scroll rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-height: max-content;
  font-family: 'Crimson Text', serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html{
  scroll-behavior: smooth;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.quill{
  /* box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.395); */

}

.ql-container{
  /* border: darkblue solid 2px  !important; */
  border: none !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 70% !important;
}
.ql-toolbar{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 20px;
  
  margin: 1px;
  background: radial-gradient(at 50% 40%, rgb(255, 255, 255), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 50% -47%, rgb(172, 224, 249), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 0% 0%, rgb(232, 225, 255) 0px, transparent 32%) 0% 0% repeat scroll, radial-gradient(at 100% 98%, rgb(255, 241, 235), transparent) 0% 0% repeat scroll, radial-gradient(at 0px 97%, rgb(227, 235, 255), white) 0% 0% repeat scroll rgba(0, 0, 0, 0);
  border: none !important;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.271);
  /* border-bottom: darkblue solid 2px  !important; */

}
.ql-editor{
  height: 80%;
}
.ql-toolbar .ql-snow{
}

.home{
  /* background-image: url(https://t3.ftcdn.net/jpg/04/42/06/34/360_F_442063430_OjLo5sHK0twuUk2hCGWpjLphEHiLcamL.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  font-family: 'Crimson Text', serif;

}

.main{
  background: radial-gradient(at 50% 40%, rgb(226, 128, 128), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 50% -47%, rgb(30, 88, 116), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 0% 0%, rgb(65, 46, 129) 0px, transparent 32%) 0% 0% repeat scroll, radial-gradient(at 100% 98%, rgb(155, 84, 53), transparent) 0% 0% repeat scroll, radial-gradient(at 0px 97%, rgb(7, 26, 73), rgb(120, 39, 39)) 0% 0% repeat scroll rgba(15, 44, 148, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card{
  background: radial-gradient(at 50% 40%, rgb(255, 255, 255), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 50% -47%, rgb(172, 224, 249), transparent 80%) 0% 0% repeat scroll, radial-gradient(at 0% 0%, rgb(232, 225, 255) 0px, transparent 32%) 0% 0% repeat scroll, radial-gradient(at 100% 98%, rgb(255, 241, 235), transparent) 0% 0% repeat scroll, radial-gradient(at 0px 97%, rgb(227, 235, 255), white) 0% 0% repeat scroll rgba(0, 0, 0, 0);

}

@media screen and (max-width:600px) {
  .ql-container{
    height: 50% !important;
    overflow: hidden;
  }
}